@charset "utf-8";
/* reset.scss
------------------------------------------------------------*/
body,
div,
ul,ol,li,
h1,h2,h3,h4,h5,h6,
p,a,
img,
table,th,td,
dl,dt,dd,
form {
    margin:0;
    padding:0;
    border:none;
    box-sizing: border-box;
}
ul,
ul ul,
ul ul ul {
    list-style:none;
}
img {
    vertical-align: bottom;
}
section,article,aside,nav,header,footer,hgroup{
    display:block;
}
/* clearfix */
.clearfix {
    zoom:1;
    }
.clearfix:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}